<html>
<head>
    <title>Weather-app</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.min.css">
</head>
<body>
    <form action="" id="form">
        <p class="title">Weather App using NodeJS</p>
        <div class="form">
            <input type="text" class="location" id="location" placeholder="Enter City Name">
            <button id="button" class="button" type="submit">Get Weather</button>
        </div>
    </form>
    <div id="result" class="result hidden">
        <p id="temp"></p>
        <p id="status"></p>
        <p id="country"></p>
    </div>
    <p id="error" class="error"></p>
    <script src="js/main.js"></script>
    <script src="js/all.min.js"></script>
</body>
</html>